rootfs.img
initramfs.cpio.gz
vmlinuz
initrd/
rootfs/
deps/
log
*.ext4
*.o
*.cmd
*.ko
*.mod.c
*.mod
*.order
*.symvers
notes/
*.log
*.log.*
src/out/
src/preprocess_build_log.txt
.idea
*/.clangd/*
src/kernel
.gdb_history
./config/*
